{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 style="font-size:60px">Recommendation System</h1>
                        <p style="font-size:25px">Yupeng Guo 300152481</p>
                        
                            
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<!-- Intro Header 
class="brand-heading"
<a href="#about" class="btn btn-circle page-scroll">
    <i class="fa fa-angle-double-down animated"></i>
-->
